<p>error works!</p>
<div class="box bg-primary" data-aos="ease-in"></div>
<div class="box bg-warning" data-aos="fade-right"></div>
<div class="box bg-secondary" data-aos="fade-up"></div>
<div class="box bg-danger" data-aos="fade-up"></div>
<div class="box bg-light" data-aos="fade-up"></div>
<div class="box bg-success" data-aos="fade-up"></div>
<div class="box bg-dark" data-aos="fade-up"></div>
<div class="box bg-info" data-aos="fade-up"></div>
<div class="box bg-warning" data-aos="fade-up"></div>
<div class="box bg-secondary" data-aos="fade-up"></div>
<div class="box bg-danger" data-aos="fade-up"></div>
<div class="box bg-light" data-aos="fade-up"></div>
<div class="box bg-primary" data-aos="fade-up"></div>
<div class="box bg-dark" data-aos="fade-up"></div>
<div class="box bg-info" data-aos="fade-up"></div>
<div class="box bg-success" data-aos="fade-up"></div>