img {
    filter: brightness(40%);
    overflow: hidden;
}

.album-item:hover img {
    transform: scale(1.3);
    /* overflow: hidden; */
    width: 100%;
    transition: .8s ease-out;
}

.album-item img {
    transition: .8s ease-in;
}

.album-item {
    cursor: pointer;
}

.album-item:active {
    transform: rotateX(20deg);
}

p {
    line-break: auto;
    text-transform: capitalize;
}

.myalbum {
    overflow: hidden;
}


/* 
.album-item:hover {
    box-shadow: 2px 3px 59px 5px rgba(0, 0, 0, 0.59) inset;
    -webkit-box-shadow: 2px 3px 59px 5px rgba(0, 0, 0, 0.59) inset;
    -moz-box-shadow: 2px 3px 59px 5px rgba(0, 0, 0, 0.59) inset;
} */


/* .voir-photo {
    display: grid;
    place-items: center;
} */