.photo-item {
    cursor: pointer;
}

.photo-item:hover {
    transform: rotate(2deg) scale(1.05);
    transition: all .5s ease-in-out;
    /* transform: ; */
}

.photo-item:active {
    transform: rotateX(50deg);
}